@import '~antd/dist/antd.css';
@import 'components/buttons.css';
@import 'components/footer.css';
.site-layout .site-layout-background {
  background: #fff;
}
.logo {
  margin: 8px;
  padding: 0px;
}
